/* 
font-family: 'Cinzel', serif;
font-family: 'Poppins', sans-serif;
border: #ccc.
color logo: #999.
color home: #fff.
color: #333
*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Poppins:wght@300;400;500&display=swap');

/* =============================
        General
===============================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =============================
        Header
===============================*/

header h1{
    font-family: 'Cinzel', serif;
    color: #999;
    margin: 30px 0 30px 50px;
    font-size: 36px;
}

header div{
    text-align: center;
    background: url("https://images.unsplash.com/photo-1486312699619-be057cfc0342?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80") center / cover no-repeat;
    padding: 35vh 0;
}

header div h2{
    font-family: 'Cinzel', serif;
    color: #fff;
    font-size: 72px;
}

/* =============================
            Main
===============================*/

main{
    text-align: center;
    padding: 0 200px;
}

main h3{
    font-family: 'Cinzel', serif;
    font-size: 32px;
    color: #999;
    margin: 50px 0;
}

main p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

main div{
    margin: 70px 0;
}

main div img{
    width: 400px;
}

main div img:nth-of-type(2){
    margin: 0 28px;
}

main article{
    text-align: left;
    margin: 80px 0;
}

main article p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 20px 0;
}

main article p span{
    color: red;
}

main article p:nth-of-type(1n + 5) span{
    color: green;
}

/* =============================
            Footer
===============================*/

footer{
    text-align: center;
    border-top: 2px solid #ccc;
    padding: 50px 0;
}

footer a{
    color: #999;
    text-decoration: none;
    font-size: 26px;
    font-family: 'Cinzel', serif;
}

footer div i{
    font-size: 50px;
}

footer div i:hover{
    color: tomato;
}